* {
    color: #f8f8f2;
    font-family: monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

button {
    background-color: #44475a;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: .2s;
    color: #f8f8f2;
}

button:hover {
    background-color: #6272a4;
}

input {
    background-color: #44475a;
    border: 0;
    padding: 10px 15px;
    transition: .2s;
    color: #f8f8f2;
}

body {
    background-color: #282a36;
    display: flex;
    height: 100svh;
}

body nav {
    background-color: #191a21;
    width: 25%;
    height: 100%;
    padding: 20px;
    position: absolute;
    left: -23%;
    box-shadow: 0px 0px 10px #0005;
    opacity: .5;
    z-index: 1;
    transition: .5s;
}

body nav:hover {
    left: 0%;
    opacity: 1;
}

body nav h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: #50fa7b;
}

body nav button {
    width: 100%;
    margin-bottom: 20px;
}

body nav button:hover {
    transform: translate(3px,-3px) rotate(-1deg);
    background-color: #6272a4 !important;
}

body nav button:active {
    background-color: #f8f8f2;
    color: #282a36;
}

body main {
    width: 100%;
    padding: 20px;
}

body #main-editor {
    height: 100%;
    display: flex;
}

body #main-editor #editor {
    flex-direction: column;
    display: flex;
    max-width: 100%!important;
}

body #main-editor iframe, 
body #main-editor #editor {
    width: 100%;
    border: 0;
    height: 100%;
    flex: 1;
}

body #main-editor #editor textarea {
    resize: none;
    width: 100%;
    height: 100%!important;
    border: 0;
    padding: 20px;
}

body #main-editor iframe {
    background-color: #f8f8f2;
}

body main #title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ff79c6;
}

body main .project {
    background-color: #44475a;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: .2s;
}

body main .project:hover {
    background-color: #6272a4;
}

body main .project img {
    width: 20px;
}

body main .project img:hover {
    filter: hue-rotate();
}

body main .project p {
    font-style: italic;
    margin-left: 10px;
}

body main .project p span {
    color: #50fa7b;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    margin-left: 10px;
}

.popup {
    position: fixed;
    background-color: #191a21;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    gap: 10px;
    box-shadow: 0px 0px 10px #0005;
    top: 150%;
}

#new-project {
    top: 150%;
}

#toolbar {
    background-color: #191a21;
    padding: 10px;
    border-radius: 5px 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Impede crescimento fora do esperado */
}

#toolbar select {
    background-color: #44475a;
    padding: 5px;
    cursor: pointer;
    border: 0;
    transition: .2s;
}

.CodeMirror {
    width: 100%!important;
    height: 100%!important;
    max-width: 100%!important;
    max-height: 100%!important;
    overflow: auto;
}